[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
amqp = "==2.2.2"
apiai = "==1.2.3"
billiard = "==3.5.0.3"
celery = "==4.1.0"
certifi = "==2018.1.18"
chardet = "==3.0.4"
click = "==6.7"
cymem = "==1.31.2"
cytoolz = "==0.8.2"
dill = "==0.2.7.1"
"f8ba4b6" = {file = "https://github.com/explosion/spacy-models/releases/download/es_core_news_sm-2.0.0/es_core_news_sm-2.0.0.tar.gz"}
gspread = "==2.0.1"
"httplib2" = "==0.11.3"
idna = "==2.6"
itsdangerous = "==0.24"
kombu = "==4.1.0"
msgpack-numpy = "==0.4.1"
msgpack-python = "==0.5.6"
murmurhash = "==0.28.0"
nltk = "==3.2.5"
numpy = "==1.14.2"
"oauth2client" = "==4.1.2"
pathlib = "==1.0.1"
pipenv = "==11.10.0"
plac = "==0.9.6"
preshed = "==1.0.0"
"psycopg2" = "==2.7.4"
"pyasn1" = "==0.4.2"
"pyasn1-modules" = "==0.2.1"
pyreadline = "==2.1"
pytz = "==2018.3"
regex = "==2017.4.5"
requests = "==2.18.4"
rsa = "==3.4.2"
six = "==1.11.0"
spacy = "==2.0.11"
termcolor = "==1.1.0"
thinc = "==6.10.2"
toolz = "==0.9.0"
tqdm = "==4.23.0"
ujson = "==1.35"
"urllib3" = "==1.22"
vine = "==1.1.4"
virtualenv = "==15.2.0"
virtualenv-clone = "==0.3.0"
websocket-client = "==0.47.0"
wrapt = "==1.10.11"
Flask = "==0.12.2"
fuzzywuzzy "==0.16.0"
Flask-SQLAlchemy = "==2.3.2"
"Jinja2" = "==2.10"
MarkupSafe = "==1.0"
SQLAlchemy = "==1.2.6"
Werkzeug = "==0.14.1"
gunicorn = "*"

[dev-packages]

[requires]
python_version = "3.6"
